/*Navbar*/
.nav-link{
    color: white;
    padding-right: 25px;
    width: 115px;
    text-align: center;
}   

.nav-item:not(#cart,#login){
    border-radius: 30px;
    background-color: #6EC500;
    margin-right: 30px;
    color: white;
}

#right{
    margin-left: auto;
}



body{
    background-color:white;
}

.square{
    border-radius: 5px;
    fit-content: cover
    height: 80px;
    width: 80px;
}
