.nav-link{
    color: black;
    padding-right: 25px;
    width: 115px;
    text-align: center;
}   

.nav-item:not(#cart,#login){
    border-radius: 30px;
    background-color: #D9D9D9;
    margin-right: 30px;
}



#right{
    margin-left: auto;
}


body{
    background-color:white;
}

#square{
    
    height: 50px;
    width: 50px;
    background-color: black;
}