body{
    background-color:rgb(241, 234, 234);
}
#navbar_top{
    z-index: 1; 
    position: fixed; 
    width: 100%;
}
.gradient{
    background: linear-gradient(180deg, rgba(0,149,4,1) 0%, rgba(255,255,255,0) 100%);
}
.solid-color{
        background: green
}
.nav-link{
    color: white;
    padding-right: 25px;
    width: 115px;
    text-align: center;
}   
.nav-item:not(#cart,#login){
    border-radius: 30px;
    background-color: #5aa02c;
    margin-right: 30px;
    
}

div.scrollmenu {
    background-color: rgb(241, 234, 234);
    overflow: auto;
    white-space: nowrap;
}
    
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#right{
    margin-left: auto;
  }



#scrollmenu::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

#scrollmenu::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(241, 234, 234);
}

#scrollmenu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #b3b3b3;
}

#scrollmenu::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color: #7e7e7e;
}
