/*#navbar_top{
    position: fixed;
    z-index: 1;
    width: 100%;
    
}*/
/*.gradient{
    background: linear-gradient(180deg, rgba(0,149,4,1) 0%, rgba(255,255,255,0) 100%);
}
.solid-color{
        background: green;
        box-shadow: 0 5px 2px -2px rgba(0,0,0,.2);
}
.nav-link{
    color: white;
    padding-right: 25px;
    width: 115px;
    text-align: center;
}
.nav-item:not(#cart,#login){
    border-radius: 30px;
    background-color: #548235;
    margin-right: 30px;
    
}
/*horrivel*/
   /* #carouselExampleIndicators, .carrousel-inner, .carousel-item{
        min-height: 300px;
    }
    .carousel-item{
        object-fit: cover;
    }*/
        
    

/*
div.scrollmenu {
    background-color: #f1f1f1;
    overflow: auto;
    display: flex;
    padding-bottom: 5px;
}
    
.container-fluid{
    display: inline-block;
}

#right{
    margin-left: auto;
  }



#scrollmenu::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #c9c9c9;
}

#scrollmenu::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(241, 234, 234);
}

#scrollmenu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(0, 165, 0);
}

#scrollmenu::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color: rgb(0, 139, 0);
}
#scrollmenu::-webkit-scrollbar-thumb:active {
    border-radius: 10px;
    background-color: rgb(0, 112, 0);
}*/


body{
background-color: white;

}
.nav-link{
    color: white;
    padding-right: 25px;
    width: 115px;
    text-align: center;
}   

.nav-item:not(#cart,#login){
    border-radius: 30px;
    background-color: #6EC500;
    margin-right: 30px;
    color: white;
}


#right{
    margin-left: auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    /* position: absolute; */
    margin: 20px auto;
    justify-content: center;
  }

.swiper-slide{
    background-color: #6EC500;
    
    border-radius: 15px;

    z-index: 100;
    border: #6EC500;

}
.cardscontent{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
}
.imgcard{
    min-height: 170px;
}
.prodimg{
    width: 60%;

    border-radius: 15px;
    margin-top: 20%;
}
.rating{
    color: white;
    margin-top: 30px;
}
.addcart{
    margin-top: 15px;
    margin-bottom: 25px;
    width: 90%;
}
input{
    outline: none;
    border: none;
    border-radius: 10px;
    width: 190px;
    height: 40px;
}
.swiper-slide::before{
    content: "";
    height: 175px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
    border-radius: 15px 15px 0 0;
    border: #6EC500 solid 2px;
}
.swiper-button-prev {
    color: white;
}
.swiper-button-next{
    color: white;
}
.swiper-pagination-bullet-active{
    width: 35px;
    border-radius: 5px;
    background-color: white;
}
.swiper-pagination-bullet{
    width: 35px;
    border-radius: 5px;
    color: white;
  
}
.swiper-pagination {
    margin-top: 20px;
}
:root{
    --swiper-theme-color: #FFF;
}