/*Navbar*/
.nav-link{
    color: white;
    padding-right: 25px;
    width: 115px;
    text-align: center;
}   

.nav-item:not(#cart,#login){
    border-radius: 30px;
    background-color: #6EC500;
    margin-right: 30px;
    color: white;
}

#right{
    margin-left: auto;
}



/*Body*/
body{
    background-color:white;
}

/*Content and Products*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600;700;800&display=swap');
      .product{
        border: 2px #6EC500 solid ; 
        border-radius: 20px; 
        width: 280px; 
        height: calc(20px + 220px + 20px + 36pt + 10px + 16pt + 5px + 30px + 20px + 1px);
        margin: 40px;
        padding: 20px 30px;
        font-family: 'Inter', sans-serif; ;
      }
      .open-modal{
        width: 190px;
        border: none;
        outline: none;
        border-radius: 30px;
        background-color:#6EC500;
        color: white;
        height: 30px;
      }

      .cardcontent{
        justify-content: center; 
        align-items: center; 
        text-align: center;
      }

.imagemprod {
    object-fit: cover;
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
}

.nameprod {
    height: 36pt;
    margin-bottom: 10px; 
}

.priceprod {
    height: 16pt;
    margin-bottom: 5px;
}

.products-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Modal */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600;700;800&display=swap');
        .buyproduct{
            width: 900px;
            height: 450px;
            
        }
        .modal-dialog{
            width: 900px;
            height: 550px;
            max-width: 1920px;
            font-family: 'Inter', sans-serif;
        }
        .content{
            display:flex;

        }
        .right{
            margin-left: 5%;
        }
        .imagemmodal{
            width: 400px;
            height: 400px;
        }
        .cart{
            width: 250px;
            background-color: #6EC500;
            border-radius: 15px;
            border: none;
            outline: none;
            height: 40px;
            color: white;
            margin-top: 25%;
        }
        .quantity{
            margin-top: 20%;
        }
        #minus, #plus{
            cursor: pointer;
            box-sizing: initial;
            width: 25px;
            height: 20px;
            background: #6EC500;
            font-size: larger;
            color: white;
            padding: 3px 5px 12px 5px;
            border-radius: 4px;
            font-weight: 600;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
        }
        .inputqty{
            padding: 0;
            height: 35px;
            width: 100px;
            text-align: center;
            font-size: 26px;
            border: 1px solid #6EC500;
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
        }
        .modal-header{
            border: none;
          }
