/*Navbar*/
.nav-link{
    color: white;
    padding-right: 25px;
    width: 115px;
    text-align: center;
}   

.nav-item:not(#cart,#login){
    border-radius: 30px;
    background-color: #6EC500;
    margin-right: 30px;
    color: white;
}

#right{
    margin-left: auto;
}



/*Body*/
body{
    background-color:white;
}


/*Content and Products*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600;700;800&display=swap');
      .product{
        border: 2px #6EC500 solid ; 
        border-radius: 15px; 
        width: 13%; 
        height: 40%;
        font-family: 'Inter', sans-serif; ;
      }
      .open-modal{
        width: 190px;
        border: none;
        outline: none;
        border-radius: 30px;
        background-color:#6EC500;
        color: white;
        height: 30px;
        margin-bottom: 7%;
      }
      .cardcontent{
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center;
      }

.products-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* Modal */

#img{
    
    float: left;
    margin: 50px;
    height: 250px;
    width: 250px;
}
#name{
    margin: 50px 0px 10px 50px;
}



#minus, #plus {cursor:pointer; }
.number{
    margin: 30px 0px 10px 50px;
    height: 40px;
    width: 500px;
}
#minus, #plus{
    box-sizing: initial;
    width:25px;
	height:20px;
    background: #6EC500;
    font-size: larger;
    color: white;
    padding:3px 5px 12px 5px;
    border-radius:4px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

input{
    padding: 0;
    height: 35px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border:1px solid #6EC500;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.cart {
    border-radius: 4px;
    background-color: #6EC500;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

#content{
    padding: 50px 50px;
}
